<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>com.fr.wei.plugin.weixinManager</id>
    <name><![CDATA[9.0微信管理]]></name>
    <active>yes</active>
    <version>9.5.25</version>
    <env-version>9.0~9.0</env-version>
    <vendor>FineMobile</vendor>
    <jartime>2018-07-03</jartime>
    <description><![CDATA[配置信息以接入微信公众平台开发。]]></description>
    <function-recorder class="com.fr.plugin.weixin.server.util.WeiXinRequest"/>
    <change-notes><![CDATA[
        [2019-06-18]9.5.25:
			修复bug<br/>
        [2018-12-21]3.1.8:
			微信同步通讯录效率优化<br/>
        [2018-11-16]3.1.7:
			修复自定义匹配没有选择数据集，能够正常保存成功的问题<br/>
			修复用户切换微信部门以后单点失败的问题<br/>
			修复微信用户管理页面频繁卡死的问题<br/>
        [2018-09-12]3.1.6:
			修复微信iconfont样式与bi的css冲突的问题<br/>
		[2018-08-24]3.1.5:
			修复微信插件在IE8下报错的bug<br/>
		[2018-07-27]3.1.3:
			修复微信概率出现签名错误的bug<br/>
			修复微信挂载单张中文名称模板打不开的bug<br/>
		[2018-06-21]3.1.1:
			修复立即更新后加载框不消失的bug<br/>
		[2018-06-15]3.1.0:
			微信快捷配置中新增一键配置应用功能<br/>
			微信快捷配置中新增代理服务器功能<br/>
			新增微信调试功能<br/>
		[2018-04-20]3.0.0:
			支持集成多企业应用<br/>
			新增用户自定义匹配方式<br/>
			支持定时同步微信通讯录<br/>
			可以自动生成微信挂载链接<br/>
			配置界面全新改版，提升体验<br/>
			更新插件请注意进行兼容设置<br/>
		[2018-01-19]2.0.3:
			修复微信插件在BI环境下前端报错的bug<br/>
		[2018-01-08]2.0.2:
			修复微信插件更新安装需要重启服务器才生效的bug<br/>
		[2018-01-03]2.0.1:
			修复微信插件概率导致平台目录树异常的bug<br/>
    ]]></change-notes>
    <extra-platform>
        <PlateProvider class="com.fr.plugin.weixin.server.web.WeiXinManagementPlateProvider"/>
        <CodeToFsUserProvider class="com.fr.plugin.weixin.server.web.WeiXinCodeToFsUserProvider"/>
    </extra-platform>
    <extra-core>
        <MobileMessageExtensionProvider class="com.fr.plugin.weixin.server.web.WeiXinMessageExtensionProvider"/>
    </extra-core>
</plugin>
